*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

body{
    background: linear-gradient(to top, #0e0935, #4d01ff);
}

.grid-container {
    min-height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 100px); /*colunas e o tamanho delas */
    grid-template-rows: minmax(120px, auto) repeat(5, 100px); /*as linhas e o tamanho, flexível */
}

.grid-container > button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: #111;
    color: aliceblue;
    transition: background-color 0.5s ease-in-out;
}

.grid-container > button:hover {
    background-color: #ffffff27;
}
    
.grid-container > .operator {
    background: #1b005f6e;
}

.span-two {
    grid-column: span 2; /*se expandir 2 colunas */
}

.grid-container > .output {
    grid-column: 1/ -1; /*pegar uma linha */
    background-color: #222;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word; /*quebrar linha dentro da div */
    word-break: break-all;
}

.grid-container > .output > .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
  }
  
  .grid-container > .output > .current-operand {
    color: aliceblue;
    font-size: 2.5rem;
  }
